{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "15"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    	["module-resolver", {
	      "root": ["./src"],
	      "alias": {
	      	"cache": "./src/cache",
	      	"configs": "./src/configs",
	      	"controllers": "./src/controllers",
	      	"helpers": "./src/helpers",
	      	"hooks": "./src/hooks",
	      	"init": "./src/init",
	      	"models": "./src/models",
	      	"queues": "./src/queues",
	      	"repos": "./src/repos",
	      	"routes": "./src/routes",
	      	"services": "./src/services",
	      	"uploaders": "./src/uploaders",
	      }
    	}]
	],
  "ignore": ["**/__tests__/**", "*.test.js", "*.spec.js", "node_modules", "build"],
  "env": {
    "development" : {
      "compact": false
    }
  }
}
